[submodule "ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim
[submodule "surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "vim-angry"]
	path = bundle/vim-angry
	url = https://github.com/b4winckler/vim-angry
[submodule "vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/bobrippling/snipmate.vim
[submodule "YankRing.vim"]
	path = bundle/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/vim-niceblock"]
	path = bundle/vim-niceblock
	url = git://github.com/kana/vim-niceblock
[submodule "bundle/vim-editqf"]
	path = bundle/vim-editqf
	url = git://github.com/jceb/vim-editqf
[submodule "bundle/textobj-word-column.vim"]
	path = bundle/textobj-word-column.vim
	url = git://github.com/coderifous/textobj-word-column.vim
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = git://github.com/Quramy/tsuquyomi
