[submodule "GIT/ctrlp.vim"]
	path = GIT/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "GIT/vim-surround"]
	path = GIT/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "GIT/nerdtree"]
	path = GIT/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "GIT/vim-easymotion"]
	path = GIT/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "GIT/vim-seek"]
	path = GIT/vim-seek
	url = git://github.com/goldfeld/vim-seek.git\ngit://github.com/goldfeld/vim-seek.git
[submodule "GIT/tabular"]
	path = GIT/tabular
	url = git://github.com/godlygeek/tabular.git
